#body{
    background-color: black;
}

.card{
    width: 250px;
    margin: 10px 4px;
}

.card-img-top{
    width: 200px;
    height: 200px;
}

.card-body{
   background-color: rgb(129, 129, 129);
   border: none;
}

.card:hover{
    box-shadow: 7px 7px 12px rgba(213, 210, 210, 0.3);
    cursor: pointer;
}