#body{
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main{
    background-color: brown;
}

.card{
    width: 270px;
    margin: 5px;
}

.card-img-top{
    width: 800px;
    height: 200px;
}

.card-body{
   background-color: rgb(129, 129, 129);
   border: none;
}

.card:hover{
    box-shadow: 7px 7px 12px rgba(51, 248, 188, 0.3);
    cursor: pointer;
}

.player-pick-box{
    text-align: start;
    padding: 10px 10px;
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    margin: 5px;
    border: none;
    border-radius: 20px;
}

#footer{
    height: 200px;
}

 .navbar{
    background-color: #80BCBD;
}

.logo{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.buttons{
    width: 400px;
    height: 40px;
    border-radius: 300px;
    margin-right: 10px;
}

.buttons .nav-btns{
    text-decoration: none;
    font-size: larger;
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right , grey, #0f0f0f);
    width: 80px;
}

.nav-btns:hover{
    background-color: greenyellow;
    color: black;
    border-radius: 45px;
    transition: background-color 0.3s;
    background: linear-gradient(to right , #537FE7, #1D24CA);
    transform: scale(1.5) ;
    transition: transform 0.7s;
}

.nav-cmnt{
    font-weight: 700;
    font-size: 50px;
    font-family: cursive;
}

#select{
    font-style: italic;
    color: red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#select:hover{
    font-size: 80px;
    transition: font-size 0.9s;
}

#favourite{
    color: grey;
}

#favourite:hover{
    font-size: 25px;
    transition: font-size 0.9s;
}