#body{
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    width: 270px;
    margin: 5px;
}

.card-img-top{
    width: 200px;
    height: 200px;
}

.card-body{
   background-color: rgb(129, 129, 129);
   border: none;
}

.card:hover{
    box-shadow: 7px 7px 12px rgba(51, 248, 188, 0.3);
    cursor: pointer;
}

.player-pick-box{
    text-align: start;
    padding: 10px 10px;
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    margin: 5px;
    border: none;
    border-radius: 20px;
}